.DS_Store
.Rdata
.Rapp.history
.Rhistory
*.aux
*.bbl
*.blg
*.fdb_latexmk
*.fls
*.log
*.pdf
*.html
tex/auto/
*submit_grid_stub.sh.o*
*.pyc
*~
\#*
*.pickle
no_repo/
*flycheck*
*.out
*.synctex.gz
*auto/
scratch/feat=*
*.ipynb_checkpoints/
src/kbmvlsa/.idea/
*TAGS
*tmp.py
src/kbmvlsa/cython/analyzer.cpp
src/kbmvlsa/cython/analyzer.so
src/kbmvlsa/cython/build/
src/kbmvlsa/cython/hash.pxd
src/kbmvlsa/cython/tmp.pyx
src/kbmvlsa/cython/xml2tabsep.cpp
src/kbmvlsa/cython/xml2tabsep.so